@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:ital,wght@0,400;0,500;1,400&family=Sora:wght@400;700&display=swap');

:root{
    --primary-color:#0d6efd;
    --dark-color:#21252f;
    --body-color:#888;
    --box-shadow: 0 8px 22px rgba(0,0,0,.1);
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sora', sans-serif;
    line-height: 1.7;
    color: var(--body-color);
}